body {
    font-family: Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
    background-image: url("../../../images/explains_img/bar.gif");
    background-size: cover;
    background-repeat: no-repeat;
  }

  section {
    grid-template-columns: 3fr 3fr;
    text-align: left;
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: auto;
}

header {
    background-color: grey;
  }
  
.Content-Menu {
    word-wrap: break-word;
    max-width: 700px;
    border-radius: 10px;
    position: absolute;
    margin-top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Content-Menu img {
  width: 103%;
  height: 95%;
  border-radius: 10px;
}

.Content-Background {
    position: relative;
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}