/*START Credit*/
.navBar {
    z-index: 2;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    background: red;
    font-size: 30px;
    opacity: 0.6;
}

.navBar:hover {
    opacity: 1;
}

img.slide-good {
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.navBar a {
    text-decoration: none;
    color: black;
}



/*END Credit*/