.well {
    max-width: 500px;
    display: block;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    line-height: 20px;
    text-align: center;
    zoom: 53%;
}

time {
    font-size: 40px;
    display: block;
    margin-top: 2px;
}

.countdownbutton {
    background: #333;
    color: #fff;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 20px;
    border: none;
    text-transform: uppercase;
    outline: none !important;
    cursor: pointer;
    margin: 10px 0;
}

.button-group {
    margin-top: 10px;
}

.countdownselect {
    border: 1px solid #333;
    padding: 10px 3px;
    background: #fff;
    margin-bottom: 10px;
}

.disply-time {
    display: inline-block;
    font-size: 20px;
    background: #5da7fa;
    line-height: 40px;
    vertical-align: sub;
    color: #fff;
    width: 40px;
    border-radius: 50px;
}

.countdowninput {
    outline: none !important;
    border: 1px solid;
    height: 37px;
    padding: 0 10px;
}

.countdownform-group {
    margin-top: -10px;
}

@media only screen and (max-width: 425px) {
    .well {
        margin-right: 15px;
        margin-left: 15px;
    }
}
